body {
    background-color: #F7D8C5;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
img {
    border-radius: 50%;
}
h1,
h2,
a {
    color: #734326;
}
a:hover {
    color: antiquewhite;
}